<h1>Editing accommodation</h1>

<%= render "form", accommodation: @accommodation %>

<br>

<div>
  <%= link_to "Show this accommodation", @accommodation %> |
  <%= link_to "Back to accommodations", accommodations_path %>
</div>
